[submodule "BarVolume"]
	path = BarVolume
	url = https://github.com/harisfi/BarVolume
[submodule "MyIntentApp"]
	path = MyIntentApp
	url = https://github.com/harisfi/MyIntentApp
[submodule "MyIdlingResource"]
	path = MyIdlingResource
	url = https://github.com/harisfi/MyIdlingResource
[submodule "LiveDataWithAPI"]
	path = LiveDataWithAPI
	url = https://github.com/harisfi/LiveDataWithAPI
[submodule "MyLiveData"]
	path = MyLiveData
	url = https://github.com/harisfi/MyLiveData
[submodule "MyMediaPlayer"]
	path = MyMediaPlayer
	url = https://github.com/harisfi/MyMediaPlayer
