[submodule "BarVolume"]
	path = BarVolume
	url = https://github.com/harisfi/BarVolume
[submodule "MyIntentApp"]
	path = MyIntentApp
	url = https://github.com/harisfi/MyIntentApp
[submodule "MyIdlingResource"]
	path = MyIdlingResource
	url = https://github.com/harisfi/MyIdlingResource
