[submodule "BarVolume"]
	path = BarVolume
	url = https://github.com/harisfi/BarVolume
[submodule "MyIntentApp"]
	path = MyIntentApp
	url = https://github.com/harisfi/MyIntentApp
[submodule "MyIdlingResource"]
	path = MyIdlingResource
	url = https://github.com/harisfi/MyIdlingResource
[submodule "LiveDataWithAPI"]
	path = LiveDataWithAPI
	url = https://github.com/harisfi/LiveDataWithAPI
[submodule "MyLiveData"]
	path = MyLiveData
	url = https://github.com/harisfi/MyLiveData
[submodule "MyMediaPlayer"]
	path = MyMediaPlayer
	url = https://github.com/harisfi/MyMediaPlayer
[submodule "MySound"]
	path = MySound
	url = https://github.com/harisfi/MySound
[submodule "MyWebView"]
	path = MyWebView
	url = https://github.com/harisfi/MyWebView
[submodule "MyFirebaseCloudMessaging"]
	path = MyFirebaseCloudMessaging
	url = https://github.com/harisfi/MyFirebaseCloudMessaging
[submodule "StackNotif"]
	path = StackNotif
	url = https://github.com/harisfi/StackNotif
[submodule "CustomNotif"]
	path = CustomNotif
	url = https://github.com/harisfi/CustomNotif
[submodule "SimpleNotif"]
	path = SimpleNotif
	url = https://github.com/harisfi/SimpleNotif
[submodule "MyStackWidget"]
	path = MyStackWidget
	url = https://github.com/harisfi/MyStackWidget
[submodule "MyWidgets"]
	path = MyWidgets
	url = https://github.com/harisfi/MyWidgets
[submodule "MyPreLoadData"]
	path = MyPreLoadData
	url = https://github.com/harisfi/MyPreLoadData
[submodule "MyNotesApp"]
	path = MyNotesApp
	url = https://github.com/harisfi/MyNotesApp
[submodule "MySettingPreference"]
	path = MySettingPreference
	url = https://github.com/harisfi/MySettingPreference
[submodule "MySharedPreferences"]
	path = MySharedPreferences
	url = https://github.com/harisfi/MySharedPreferences
[submodule "MyReadWriteFile"]
	path = MyReadWriteFile
	url = https://github.com/harisfi/MyReadWriteFile
[submodule "MyViewModel"]
	path = MyViewModel
	url = https://github.com/harisfi/MyViewModel
[submodule "MyDeepNavigation"]
	path = MyDeepNavigation
	url = https://github.com/harisfi/MyDeepNavigation
[submodule "MyWorkManager"]
	path = MyWorkManager
	url = https://github.com/harisfi/MyWorkManager
[submodule "MyJobScheduler"]
	path = MyJobScheduler
	url = https://github.com/harisfi/MyJobScheduler
[submodule "MyQuote"]
	path = MyQuote
	url = https://github.com/harisfi/MyQuote
[submodule "MyAlarmManager"]
	path = MyAlarmManager
	url = https://github.com/harisfi/MyAlarmManager
[submodule "MyBroadcastReceiver"]
	path = MyBroadcastReceiver
	url = https://github.com/harisfi/MyBroadcastReceiver
[submodule "MyService"]
	path = MyService
	url = https://github.com/harisfi/MyService
[submodule "MyBackgroundThread"]
	path = MyBackgroundThread
	url = https://github.com/harisfi/MyBackgroundThread
[submodule "MyUnitTesting"]
	path = MyUnitTesting
	url = https://github.com/harisfi/MyUnitTesting
